<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kh.mixmatch.stadium.dao.StadiumMapper">  
	<select id="listStadium" parameterType="map" resultType="stadiumCommand">
		SELECT * FROM (SELECT a.*, rownum rnum FROM(SELECT  
			b.* FROM g_stadium b
			<where>
						<if test="keyword != '' and keyfield =='s_type'">
							s_type like '%' || #{keyword} || '%'
						</if>
						<if test="keyword != '' and keyfield =='s_name'">
							s_name like '%' || #{keyword} || '%'
						</if>
						<if test="keyword != '' and keyfield =='s_address1'">
							s_address1 like '%' || #{keyword} || '%'
						</if>
					</where>
					ORDER BY b.s_regdate DESC)a) 
					
					<![CDATA[ WHERE rnum>=#{start} AND rnum<=#{end} ]]>
	</select>
	<select id="getTotalCountStadium" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM g_stadium 
					<where>
						<if test="keyword != '' and keyfield =='s_type'">
							s_type like '%' || #{keyword} || '%'
						</if>
						<if test="keyword != '' and keyfield =='s_name'">
							s_name like '%' || #{keyword} || '%'
						</if>
						<if test="keyword != '' and keyfield =='s_address1'">
							s_address1 like '%' || #{keyword} || '%'
						</if>
					</where>
	</select>
	
	
	
	<select id="listBooking" parameterType="map" resultType="bookingCommand">
		SELECT * FROM (SELECT a.*, rownum rnum FROM(SELECT  
			b.* FROM g_booking b WHERE s_seq=#{s_seq} AND b_regdate=#{b_regdate} 
		<!-- 	<where>
						<if test="keyword != '' and keyfield =='s_type'">
							s_type like '%' || #{keyword} || '%'
						</if>
						<if test="keyword != '' and keyfield =='s_name'">
							s_name like '%' || #{keyword} || '%'
						</if>
						<if test="keyword != '' and keyfield =='s_address1'">
							s_address1 like '%' || #{keyword} || '%'
						</if>
					</where> -->
					ORDER BY b.b_regdate DESC)a) 
					<!-- 
					<![CDATA[ WHERE rnum>=#{start} AND rnum<=#{end} ]]> -->
	</select>
	<select id="getTotalCountBooking" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM g_booking
			WHERE s_seq=#{s_seq} AND b_regdate=#{b_regdate} 
					<!-- <where>
						s_seq=#{s_seq} 
						<if test="keyword != '' and keyfield =='b_regdate'">
							and b_regdate like '%' || #{keyword} || '%'
						</if>
					</where> -->
	</select>
	
	
</mapper>