<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.kh.mixmatch.team.dao.TeamMemMapper"> 

	
	
	<select id="getRowTeamMemRecordCount" parameterType="map" resultType="integer">
		SELECT count(*) FROM 
		<if test="type == '야구'">g_baseball</if>
		<if test="type == '축구'">g_football</if>
		<if test="type == '농구'">g_basketball</if>
		WHERE t_name=#{t_name}
	</select>
	
	<select id="getMemList" parameterType="map" resultType="memberCommand">
		SELECT * FROM (SELECT a.*, rownum rnum, rownum pointStatus FROM
		(SELECT * FROM g_member ORDER BY point DESC)a )
					
					<![CDATA[ WHERE rnum>=#{start} AND rnum<=#{end} ]]>
	</select>
	
	<select id="getMemRecordCount" parameterType="map" resultType="integer">
		<if test="keyword != '' ">
			SELECT COUNT(*) FROM G_MEMBER M, 
            (SELECT id FROM
			<if test="keyword == '야구'">
				g_baseball
			</if>
			<if test="keyword == '농구'">
				g_basketball
			</if>
			<if test="keyword == '축구'">
				g_football
			</if>
			GROUP BY ROLLUP(id)) B 
                    WHERE M.ID=B.ID
		</if>
	</select>
	
	
	<select id="listTMemFoot" parameterType="map" resultType="FootCommand">
		SELECT * FROM G_MEMBER M, 
			(SELECT id,sum(f_goal) AS f_goal,sum(f_assist) f_assist,sum(f_shoot) f_shoot,
				sum(f_attack) f_attack FROM (SELECT * FROM g_football WHERE t_name=#{t_name}) 
				GROUP BY ROLLUP(id))r 
			<where>
				<if test="forder=='f_goal'">
		 			 m.id=r.id  ORDER BY f_goal DESC 
		 		</if>
		 		<if test="forder=='f_assist'">
		 			 m.id=r.id ORDER BY f_assist DESC 
		 		</if>
		 		<if test="forder=='f_shoot'">
		 			m.id=r.id  ORDER BY f_shoot DESC 
		 		</if>
		 		<if test="forder=='f_attack'">
		 			m.id=r.id ORDER BY f_attack DESC 
		 		</if>
		 	</where>
 	</select>
 	<select id="listTMemBase" parameterType="map" resultType="BaseCommand">
	SELECT m.*,r.*, (b_hit/b_bat) b_avg, NVL((b_er*9) / DECODE(b_ip, 0, NULL, b_ip), 0)  b_era FROM G_MEMBER M, (SELECT id,sum(b_bat) b_bat,sum(b_hit) b_hit,sum(b_rbi) b_rbi,sum(b_score) b_score, sum(b_win) b_win, sum(b_lose) b_lose, sum(b_strike) b_strike, sum(b_ip) b_ip, sum(b_er) b_er FROM (SELECT * FROM g_baseball WHERE t_name=#{t_name}) GROUP BY ROLLUP(id))r  
		<where>
			<if test="border=='b_bat'">
 				m.id=r.id ORDER BY b_bat DESC
 			</if>
 			<if test="border=='b_hit'">
 				m.id=r.id ORDER BY b_hit DESC
 			</if>
 			<if test="border=='b_rbi'">
 				m.id=r.id ORDER BY b_rbi DESC
 			</if>
 			<if test="border=='b_score'">
 				m.id=r.id ORDER BY b_score DESC
 			</if>
 			<if test="border=='b_avg'">
 				m.id=r.id ORDER BY b_avg DESC
 			</if>
 			<if test="border=='b_win'">
 				m.id=r.id ORDER BY b_win DESC
 			</if>
 			<if test="border=='b_lose'">
 				m.id=r.id ORDER BY b_lose DESC
 			</if>
 			<if test="border=='b_strike'">
 				m.id=r.id ORDER BY b_strike DESC
 			</if>
 			<if test="border=='b_ip'">
 				m.id=r.id ORDER BY b_ip DESC
 			</if>
 			<if test="border=='b_er'">
 				m.id=r.id ORDER BY b_er DESC
 			</if>
 			<if test="border=='b_era'">
 				m.id=r.id ORDER BY b_era DESC
 			</if>
		</where>
	</select>	
	<select id="listTMemBasket" parameterType="map" resultType="BasketCommand">
	SELECT * FROM G_MEMBER M, (SELECT id,sum(b_3point) AS b_3point,sum(b_assist) b_assist,sum(b_steel) b_steel,sum(b_score) b_score,sum(b_block) b_block,sum(b_rebound) b_rebound FROM (SELECT * FROM g_basketball WHERE t_name=#{t_name}) GROUP BY ROLLUP(id))r 
	<where>
		<if test="bkorder=='b_3point'">
 			m.id=r.id ORDER BY b_3point DESC
 		</if>
 		<if test="bkorder=='b_assist'">
 			m.id=r.id ORDER BY b_assist DESC
 		</if>
 		<if test="bkorder=='b_steel'">
 			m.id=r.id ORDER BY b_steel DESC
 		</if>
 		<if test="bkorder=='b_score'">
 			m.id=r.id ORDER BY b_score DESC
 		</if>
 		<if test="bkorder=='b_block'">
 			m.id=r.id ORDER BY b_block DESC
 		</if>
 		<if test="bkorder=='b_rebound'">
 			m.id=r.id ORDER BY b_rebound DESC
 		</if>
	</where>
	</select>
 	

</mapper>













