@CHARSET "UTF-8";
/*-------------------------------  -----------------------------*/
.ranking{
	margin:0 auto;
}
.ranking thead{
	font-size:large;
}
.ranking td{
	width:80px;
	height:65px;
}
#profile,#regdate{
	width:150px;
	
}